extends ../layouts/default.jade

block variables
	- var title =  "Contact";

block content
	//- form.contact(action="#",method="post")
	//- 	h1= title
	//- 	.input-group
	//- 		span.input-group-addon
	//- 		input.form-control(type="email",name="email",placeholder="E-Mail")
	//- 	.input-group
	//- 		span.input-group-addon
	//- 		input.form-control(type="text",name="name",placeholder="Name")
	//- 	.input-group
	//- 		select
	//- 			option Subject
	//- 			option Bug report
	//- 			option Feature request
	//- 			option Help request
	//- 			option Something else

	.story
		h2 Imprint
		p.
			The imprint is located <a href="/imprint.html">here</a>.
