extends ../layouts/default.jade

block variables
	- var title = "Imprint"

block content
	section.story
		h1= title
		p
			div Maximilian Täschner
			div Am Surck 33
			div Germany - 44225 Dortmund, Northrhine-Westphalia
			div info {_at_} ampz.io
