extends ../layouts/default.jade

block variables
	- var title = "Legal"

block content
	section.story
		h1= title
		
		h2 8tracks
		p.
			Ampz uses data provided by <a href="http://8tracks.com">8tracks</a>
			but is not an official 8tracks application.

		h2 Logos and Trademarks
		p.
			We do not claim ownership of any of the logos or trademarks displayed on the website. All rights belong to their respective owners.

		h2 External Links
		p.
			This website may contain links to external websites. Although we try ensure these links are accurate, up to date and relevant and do not containe any inappropiate content, we cannot take responsibility for pages maintained by external providers.