footer
	nav
		.container-fluid
			.navbar-collapse
				ul.nav.navbar-nav
					li: a(href="https://www.facebook.com/ampz.io.mac") <i class="icon icon-facebook"></i>
					li: a(href="https://twitter.com/ampzio") <i class="icon icon-twitter"></i>
					li: a(href="https://plus.google.com/+AmpzIoMac/") <i class="icon icon-google-plus"></i>
					li: a(href="http://eepurl.com/bkjjdr") <i class="glyphicon glyphicon-envelope"></i> Subscribe to the Newsletter
				ul.nav.navbar-nav.navbar-right
					li: a(href="#") Top	
					li: a(href="/") Home	
					li: a(href="/release-notes.html") Release Notes	
					li: a(href="/legal.html") Legal
					li: a(href="/privacy.html") Privacy					
					li: a(href="/contact.html") Contact