header
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand(href="/") Ampz
			.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li: a(href="/#features") Features
					li: a(href="/#download") <i class="glyphicon glyphicon-download"></i> Download